# Node
node_modules/
.next/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.docker/

# Mac
.DS_Store

# IDE
.vscode/
.idea/
